<script defer src='https://use.fontawesome.com/releases/v5.14.0/js/all.js'></script>
<nav class="site-nav">
	<div class="site-nav-left">
		{{ if isset $.Site.Params "logo" }}
		<a class="site-nav-logo" href="{{ $.Site.BaseURL }}"><img src="{{ $.Site.Params.logo }}"
				alt="{{ $.Site.Title }}" /></a>
		{{ else }}
		<a class="site-nav-logo" href="{{ $.Site.BaseURL }}">{{ $.Site.Title }}</a>
		{{ end }}

		<div class="site-nav-content">
			<ul class="nav" role="menu">
				{{ range $.Site.Menus.main }}
				<li class="nav-home" role="menuitem"><a href="{{ .URL }}">{{- .Name -}}</a></li>
				{{ end }}
			</ul>
		</div>

	</div>

	<div class="site-nav-right">
		<div class="site-nav-content">
			<ul class="nav" role="menu">
				{{ with .Site.Menus.social }}
				{{ range . }}
				<li>
					<a href='{{ .URL }}' title='{{ .Name }}' rel='noreferrer' target='_blank'>
						<i class='{{ with .Params.icon }}{{- . -}}{{ end }}' style='font-size: x-large;'></i>
					</a>
				</li>
				{{ end }}
				{{ end }}
			</ul>
		</div>

	</div>
</nav>